################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/CoreBIM.OpenTSDB/.vs/CoreBIM.OpenTSDB
/src/CoreBIM.OpenTSDB/obj
/src/CoreBIM.OpenTSDB/bin/Debug
/src/OpenTSDBSample/obj
/src/OpenTSDBSample/bin/Debug/netcoreapp3.0
/src/CoreBIM.OpenTSDB/bin/Release
